<ion-view view-title="Boutique">
<ion-content class="padding">

      <div class="list">

      <a class="item item-avatar" href="#">

            <h3>Acheter un slot de playlist 200</h3>

          </a>
        <a class="item item-avatar" href="#">

            <h3>Acheter un tag</h3>

          </a>
           <a class="item item-avatar" href="#">

            <h3>Acheter statistiques avancées</h3>

          </a>
          <a class="item item-avatar" href="#">

            <h3>Acheter savoir utile booster</h3>

          </a>
        <a class="item item-avatar" href="#">

            <h3>Acheter option écouter </h3>

          </a>

      </div>

</ion-content>
</ion-view>
