<ion-view view-title="Menu boutique">
<ion-content class="padding">
    <p>
      <div class="list">

 <li>         <a class="item item-avatar" href="#">

            <h3>Acheter un slot de playlist 200</h3>

          </a></li>
         <li>    <a class="item item-avatar" href="#">

            <h3>Acheter un tag</h3>

          </a> </li>
        <li>     <a class="item item-avatar" href="#">

            <h3>Acheter statistiques avancées</h3>

          </a> </li>
        <li>     <a class="item item-avatar" href="#">

            <h3>Acheter savoir utile booster</h3>

          </a></li>
        <li>     <a class="item item-avatar" href="#">

            <h3>Acheter option écouter </h3>

          </a>  </li>

      </div>
    </p>
    <h1>Work in progress</h1>
</ion-content>
</ion-view>
