<ion-view view-title="commencer" align-title="left">
    <ion-content style="background-color :gray">

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Nuance</h1>
            </div>
        </div>

        <div class="padding">
            <button style="border-radius: 25px;" ui-sref="home" class="button button-full button-assertive ink">Commencer</button>

        </div>

      </ion-content>
  </ion-view>
