<style type="text/css">

table
    {
        margin: auto;
        border: solid black 2px;
    }
td
{
  border: solid black 2px;
    width: 20%;
    padding: 2%;
}

body
    {
        margin-top: 5%;
    }

    .boxMenu{
      margin: 10px;
      background-color: red;
    }
</style>


<ion-view view-title="Accueil">
<ion-content class="padding" style="text-align:center;">
  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-top-left-radius:20px;">
    <img src="" alt="" />
  </button>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-top-right-radius:20px;">
    <img src="" alt="" />
  </button>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-bottom-left-radius:20px;">
    <img src="" alt="" />
  </button>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-bottom-right-radius:20px;">
    <img src="" alt="" />
  </button>

</ion-content>
</ion-view>

<ion-tabs class="tabs-assertive">

  <ion-tab  icon="ion-skip-backward">
  </ion-tab>

  <ion-tab icon="icon ion-play">
  </ion-tab>

  <ion-tab icon="ion-skip-forward">
  </ion-tab>

</ion-tabs>
