<ion-view view-title="<div style='position:absolute;width:355px;'>


                        <object type='image/svg+xml' style='position:absolute;left:0px;height:40px;background-color: white;z-index:200; -webkit-mask-repeat:no-repeat;-webkit-mask-image: url(img/elementsv1/idee.svg);'  width='10%' height='10%'>
                          </object>

                          <div style='position:absolute;width:355px;font-size:15px;top:-8px;z-index:200;text-align:center;'>FILS DE PUTE</div>

                          <object type='image/svg+xml' style='position:absolute;height:40px;background-color: white; z-index:200;-webkit-mask-repeat:no-repeat;-webkit-mask-image: url(img/elementsv2/notes.svg);'  width='10%' height='10%'>
                          </object>

                        <object type='image/svg+xml' style='position:absolute;left:70px;height:40px;z-index:100;background-color: #8E2525; -webkit-mask-repeat:no-repeat;-webkit-mask-image:url(img/elementsv2/succes.svg);'  width='60%' height='60%'>
                        </object>


                      </div>" >


<body>

<style type="text/css">
    .boxMenu{
      margin: 10px;
    }
</style>



<ion-content class="padding" style="text-align:center; background-color:#ecf0f1;">
  <div style="height:50px;">

  </div>
  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-top-left-radius:20px;" ui-sref="musiques">
    <img src="img/icones/musiques.svg" alt="musiques" />
  </button>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-top-right-radius:20px;" ui-sref="playlists">
    <img src="img/icones/playlists.svg" alt="playlists" />
  </button>

<div style="width:90px; height:90px; border-radius:100%; position:absolute; margin-top:-40px; margin-left: auto;margin-right: auto;left: 0;right: 0; background-color:#ecf0f1; z-index:10;">
  <img style="width:70px; height:70px; margin-top: 10px;"src="img/emobulle-rouge.png"/>
</div>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-bottom-left-radius:20px;" ui-sref="profil">
    <img src="img/icones/profil.svg" alt="profil" />
  </button>

  <button class="button button-large button-assertive boxMenu" style="width:140px; height:140px; border-bottom-right-radius:20px;" ui-sref="boutique">
    <img src="img/icones/boutique.svg" alt="boutique" />
  </button>

  <object  type="image/svg+xml" style=" background-color:#E6312F;margin-top:50px; -webkit-mask-repeat:no-repeat; -webkit-mask-image: url(img/elementsv2/best1.svg);"width="110" height="110">
  </object>

  <object  type="image/svg+xml" style=" background-color:#E6312F;margin-top:50px; -webkit-mask-repeat:no-repeat; -webkit-mask-image: url(img/elementsv2/best2.svg);"width="110" height="110">
  </object>

  <object  type="image/svg+xml" style=" background-color:#E6312F;margin-top:50px; -webkit-mask-repeat:no-repeat; -webkit-mask-image: url(img/elementsv2/best3.svg);"width="110" height="110">
  </object>
