

        <ion-nav-bar class="bar-calm-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            
        </ion-nav-bar>
       
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>

        <style type="">
            .test{
                background-color: red;
                height: 100px;
                width: 100px;
                position: absolute;
            }
            #wrapper{
                position: relative;
                height:100%;
                width:100%;
                background-color: red;
                margin-right: auto;
                margin-left: auto;
            }

            #bouton{
                display: inline-block;
                height:100px; 
                width:100px; 
                margin-right:auto; 
                margin-left:auto;
            }

        </style>
        <div id="wrapper">
        <button id="bouton" class="button button-large button-positive">
            M
        </button>
        <button id="bouton"  class="button button-large button-positive">
            P
        </button>
        <button id="bouton"  class="button button-large button-positive">
            B
        </button>
        <button id="bouton"  class="button button-large button-positive">
            P
        </button>

        </div>