
<ion-view view-title="Musiques">

    <ion-content>

      <div class="list">

          <a class="item item-thumbnail-left" href="#">
            <img src="cover.jpg">
            <h2>{{titre}}</h2>
          </a>
  </div>


<div>
      <a style="font-size: 38px; margin-top:20px;" class="tab-item" ng-click="play()">
      <i class="icon ion-play"></i>
    </a>
</div>

<div>
      <a style="font-size: 38px; margin-top:20px;" class="tab-item" ng-click="pauseAudio()">
      <i class="icon ion-pause"></i>
    </a>
</div>


<div>
      <a style="font-size: 38px; margin-top:20px;" class="tab-item" ng-click="sayHello()">
      <i class="icon ion-pause"></i>
    </a>
</div>


<button class="button button-positive" ng-click="download()">
  button-positive
</button>


    </ion-content>
</ion-view>
