<ion-view view-title="Musiques">
<ion-header-bar align-title="left" class="bar-positive">
</ion-header-bar>

<ion-content>

  <div class="list">

      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

  </div>



</ion-content>



</ion-view>
