<ion-view view-title="playlists">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
<!--Playlist-->

            <div class="list animate-fade-slide-in-right">
                <a href="/profile" class="item item-avatar item-icon-right">
                    <img src="img/emobulle-jaune.png">
                    <h2>Emobulle-jaune</h2>
                    <p>jaune</p>
                </a>
                <a href="/profile" class="item item-avatar item-icon-right">
                    <img src="img/emobulle-bleu.png">
                    <h2>emobulle-bleu</h2>
                    <p>bleu</p>
                </a>
                <a href="/profile" class="item item-avatar item-icon-right">
                    <img src="img/emobulle-vert.png">
                    <h2>emobulle-vert</h2>
                    <p>vert</p>
                </a>
                <a href="/profile" class="item item-avatar item-icon-right">
                    <img src="img/emobulle-jaune.png">
                    <h2>emobulle-jaune</h2>
                    <p>jaune</p>
                </a>
                <a href="/profile" class="item item-avatar item-icon-right">
                    <img src="img/emobulle-rouge.png">
                    <h2>emobulle-rouge</h2>
                    <p>rouge</p>
                </a>
            </div>
<div class="list"><label class"item item-input item-floating-label"> <span class="input-label">First Name</span> <input type="text" placeholder="First Name">
        </div>
    </ion-content>
</ion-view>
