/* Empty. Add your own CSS if you like */


/*.nav-bar-block, .bar {
  background-color: inherit !important;
}*/

.test {
background-color:black;
  height:100px;
  width:100%;
}
.changecolor{
  color:grey;
}
