<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
<!--    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'> -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ngstorage/dist/ngStorage.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/test.js"></script>
    <script src="js/Musique.js"></script>
    <script src="js/Playlist.js"></script>
    <script src="js/id3-minimized.js"></script>


</head>

<body ng-app="application" ng-controller="MusicCtrl" ng-controller="BarCtrl">

  <ion-nav-bar class="bar-assertive" style="height:300px;">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


  <ion-nav-view ></ion-nav-view>

<div class="tabs-{{couleur}}">

  <div class="tabs" style="height:100px; background-color:#222222">
    <p style="left:80px;font-family:roboto;top:-10px;position:absolute;color:white">Père Jérome </p>
    <p style="top:-10x;font-family:roboto;right:80px;position:absolute;color:grey">00:00</p>
    <p style="top:10px;font-family:roboto;left:80px;position:absolute;color:grey">Cédric Porcher</p>

    <img style="width:40px; height:40px;right:20px;top:40px;position:absolute; "src="img/emobulle-rouge.png"/></img>

    <object on-swipe-up="onSwipeUp()" type="image/svg+xml" style="position:absolute;left:20px;top:40px;height:40px;background-color: #E6312F; -webkit-mask-repeat:no-repeat;-webkit-mask-image: url(img/elementsv2/playlist.svg);"  width="60" height="60">
    </object>

      <i ng-click="melange();"style="left:90px;position:absolute;width:25px;height:25px;font-size: 25px; margin-top:40px;color:#E6312F" class="ion-ios-shuffle-strong"></i>
      <i ng-click="previous();"style="left:130px;position:absolute;width:25px;height:25px;font-size: 25px; margin-top:40px;color:#E6312F" class="ion-skip-backward"></i>
      <i ng-click="play();"style="left:170px;position:absolute;width:25px;height:25px;font-size: 25px; margin-top:40px;color:#E6312F" class="icon ion-play"></i>
      <i ng-click="next();"style="left:210px;position:absolute;width:25px;height:25px;font-size: 25px; margin-top:40px;color:#E6312F" class="ion-skip-forward"></i>
      <i ng-click="repeat();"style="left:250px;position:absolute;width:25px;height:25px;font-size: 25px; margin-top:40px;color:#E6312F" class="ion-ios-loop-strong"></i>

  </div>
</body>
</html>
