<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
<!--    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'> -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ngstorage/dist/ngStorage.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js -->

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/test.js"></script>
    <script src="js/Musique.js"></script>
    <script src="js/Playlist.js"></script>
    <script src="js/id3-minimized.js"></script>

</head>

<body ng-app="application" ng-controller="MusicCtrl" ng-controller="BarCtrl">





  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>



<div class="tabs-{{couleur}}">

      <div class="tabs" style="height:100px;">

  <button on-swipe-up="onSwipeUp()" class="button" ui-sref="player"></button>

          <a style="font-size: 38px; margin-top:20px;" class="tab-item" ng-click="previous()">
          <i class="ion-skip-backward"></i>
        </a>
        <a style="font-size: 38px; margin-top:20px;" class="tab-item">


          <i class="icon ion-play" ng-click="play()" ng-hide="isPlaying"></i>



        </a>

        <a style="font-size: 38px; margin-top:20px;" class="tab-item" ng-click="next()">
          <i class="ion-skip-forward"></i>

        </a>

        <a style="font-size: 10px; margin-top:65px;"><p>{{titre}}</p>
      </a>

      </div>


  </div>






    <ion-nav-view ></ion-nav-view>


</body>
</html>
