<ion-view view-title="Menu boutique">
<ion-content class="padding">
    <p>
      <div class="list">

          <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Acheter un slot de playlist 200</h2>

          </a>
          <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Acheter un tag</h2>

          </a>
          <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Acheter statistiques avancées</h2>

          </a>
          <a class="item item-avatar" href="#">
            <img src="emobulle-rouge.png">
            <h2>Acheter savoir utile booster</h2>

          </a>
          <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Acheter option ""écouter ensuite"</h2>

          </a>
          <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Acheter thème dark</h2>

          </a>
      </div>
    </p>
</ion-content>
</ion-view>
