<ion-view view-title="Musiques">


    <ion-content>



      <button class="button button-assertive" ng-click="stopPlayback()">Stop all</button>
        <ion-audio-track ng-repeat="track in tracks" track="track">


          <div class="list">

              <a class="item item-thumbnail-left" href="#">
                <img src="{{track.art}}">
                  <h2>{{track.title}}</h2>
              <p>{{track.artist}}</p>
              </a>

          </div>


<ion-audio-controls>
                        <a class="button button-icon icon" ion-audio-play></a>
                        <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                    </ion-audio-controls>
                </div>
                <div class="item item-divider">
                    <ion-audio-progress-bar display-time></ion-audio-progress-bar>
                </div>
            </div>
        </ion-audio-track>






      <a href="#/music">Go to music page!</a>
    </ion-content>


</ion-view>
